[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Derrell Piper
	email = ddp@electric-loft.org
[diff]
	tool = bbdiff
[difftool "bbdiff"]
	cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = bbdiff
[mergetool "bbdiff"]
	cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
