<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Cyberspace</string>

    <key>CFBundleIdentifier</key>
    <string>com.yoyodyne.cyberspace</string>

    <key>CFBundleName</key>
    <string>Cyberspace</string>

    <key>CFBundleDisplayName</key>
    <string>Cyberspace</string>

    <key>CFBundleVersion</key>
    <string>1.0.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>CYSM</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>NSMainNibFile</key>
    <string></string>

    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSSupportsAutomaticTermination</key>
    <false/>

    <key>NSSupportsSuddenTermination</key>
    <false/>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Yoyodyne. Library of Cyberspace.</string>

    <key>CFBundleIconFile</key>
    <string>Cyberspace</string>

    <!-- WebKit permissions -->
    <key>com.apple.security.network.client</key>
    <true/>

    <key>com.apple.security.network.server</key>
    <true/>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
</dict>
</plist>
