AddDefaultCharset UTF-8

# MIME types with UTF-8 charset
AddType "text/plain; charset=utf-8" .txt .scm
AddType "text/html; charset=utf-8" .html
AddType "application/postscript" .ps
DirectoryIndex index.html README.html
# Redirect old /rfc path to /memo
RedirectMatch 301 ^/ddp/cyberspace/spki/scheme/docs/rfc(/.*)?$ https://www.yoyodyne.com/ddp/cyberspace/spki/scheme/docs/memo$1
